*{
    margin: 0;
}

#omoss_sida{
    height: 200vh;
    max-width: 100vw;
}

#section_omoss{
    display: grid;
    height: 200vh;
    max-width: 100vw;
    grid-template-areas: 
    'oo oo'
    'ma ma'
    'ma ma'
    'hb lk'
    ;
    grid-template-columns: 50% 50%;
    grid-template-rows: 25% 25% 15% 35%;
}

#omoss{
    grid-area: oo;
    background-color: lightblue;
}

#maten{
    grid-area: ma;
    background-color: lightcoral;
}

#hollbarhet{
    grid-area: hb;
    background-color: lightpink;
}

#lokalen{
    grid-area: lk;
    background-color: lightseagreen;
}


