* {
  margin: 0;
}

#hem_sida {
  display: grid;
  height: 100vh;
  grid-template-columns: 15% 85%;
  grid-template-rows: 90% 10%;
  grid-template-areas:
    "a m"
    "f f";
}

#aside_nav {
  grid-area: a;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  padding: 10px 10px 10px 10px;
}

#aside_nav h1 {
  padding-bottom: 30px;
}

#aside_nav img {
  width: 22%;
  object-fit: cover;
}

.asidenava {
  height: 100px;
  display: flex;
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

#main_hem {
  grid-area: m;
  background-color: whitesmoke;
}

#main_hemtext {
  padding: 5px 5px 5px 5px;
  color: white;
  max-width: 700px;
  margin-bottom: 100px;
  text-align: center;
}

#main_hem {
  background-image: url(../img/index/restaurang.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

#footer_hem {
  grid-area: f;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
}
